<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

<head>
    <title>Get Smart Pipe Technologies</title>
</head>
<body>
    <div class="main">
        <div class="navbar">
                <div class="icon">
                    <h3 class="logo">Get Smart Pipe Technologies</h3>
                </div>
            <div class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
        <br>
        <br>

        <div>
            <div class="container mt-5">
                <div class="row">
                    <h2>Welcome {{ customer.first_name }}</h2>
                    <div class="col">
                        <div class="col-md-3">
                            <p><strong>First Name:</strong>         {{ customer.first_name }}</p>
                            <p><strong>Last Name:</strong>        {{ customer.last_name }}</p>
                            <p><strong>Email:</strong>            {{ customer.email }}</p>
                            <p><strong>Phone:</strong>            {{ customer.phone }}</p>
                        </div>
                        <br>
                        <div><h2>Location Information</h2></div>
                            <p><strong>Address:</strong>          {{ customer.address }} {{apt_number}}</p>
                            <p><strong>City, State:</strong>      {{ customer.city }}, {{ customer.state }}</p>
                            <p><strong>Zip Code:</strong>         {{ customer.zip }}</p>
                            <p><strong>Requestor Type:</strong>   {{ customer.requestor_type }}</p>
                            <p><strong>Location Type:</strong>    {{ customer.location_type }}</p>
                            <p><strong>Year Built:</strong>       {{ customer.year_built }}</p>
                            <p><strong>Number of Rooms:</strong>  {{ customer.num_of_rooms }}</p>
                            <div>
                            <button type="submit" class="btn btn-primary"><a href="/edit_details" style="color: white;"> Edit</a></button>
                            </div>
                            <button type="submit" class="btn btn-primary"><a href="/logout" style="color: white;"> Logout</a></button>
                    </div>
                    <div class="col">
                        <h2>Final Assessment File</h2>
                            <br>
                            <div><img src="https://img.icons8.com/external-soft-fill-juicy-fish/50/000000/external-document-essentials-soft-fill-soft-fill-juicy-fish.png"/>
                            (pending:  email notification will be sent when uploaded) </div>
                            <br>
                            <br>
                            <br>
                        <div class="calendly-inline-widget" data-url="https://calendly.com/randy-calpe" style="min-width:320px;height:630px;"></div>
                    </div>
                    <div>
                        <br>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
</body>
</html>